page-detalhe-compra-de-ingressos {
    .data {
        position: absolute;
        font-size: 0.7em;
        width: 100%;
        font-weight: bold;
        color: black;
        top: 13%;
      }


    .button {
        position: absolute;
        left: 38%;
        font-size: 0.9em;
        font-weight: bold;
        top: 75%;
    }

      .nomeDoMeuTime {
        position: absolute;
        left: 20%;
        top: 21%;
        font-size: 0.8em;
        width: 100%;
        font-weight: bold;
        color: black;
      }

      .meuescudo {
        position: absolute;
        left: 36%;
        top: 20%;
      }

      .minhaQuantidadeDeGols {
        position: absolute;
        left: 45%;
        top: 21%;
        font-size: 1.0em;
        font-weight: bold;
        color: black;
        background-color: rgb(235, 235, 235);
      }

      .nomeDoCampeonato {
        position: relative;
        left: 12%;
        top: 6%;
        font-size: 0.9em;
        font-weight: bold;
        color: black;
      }

      .escudoOponente {
        position: absolute;
        left: 58%;
        top: 20%;
      }

      .campeonato {
        position: absolute;
        left: 3%;
        top: 5%;
      }

      .nomeDoOponente {
        position: absolute;
        left: 66%;
        top: 21%;
        font-size: 0.8em;
        width: 100%;
        font-weight: bold;
        color: black;
      }

    .check1 {
        position: absolute;
        left: 10%;
        font-size: 0.9em;
        font-weight: bold;
        top: 36%;
    }
    .label1 {
        position: absolute;
        left: 16%;
        font-size: 0.9em;
        font-weight: bold;
        top: 34%;
    }
    .check2 {
        position: absolute;
        left: 10%;
        font-size: 0.9em;
        font-weight: bold;
        top: 41%;
    }
    .label2 {
        position: absolute;
        left: 16%;
        font-size: 0.9em;
        font-weight: bold;
        top: 39%;
    }
    .check3 {
        position: absolute;
        left: 10%;
        font-size: 0.9em;
        font-weight: bold;
        top: 46%;
    }
    .label3 {
        position: absolute;
        left: 16%;
        font-size: 0.9em;
        font-weight: bold;
        top: 44%;
    }
    .check4 {
        position: absolute;
        left: 10%;
        font-size: 0.9em;
        font-weight: bold;
        top: 51%;
    }
    .label4 {
        position: absolute;
        left: 16%;
        font-size: 0.9em;
        font-weight: bold;
        top: 49%;
    }
    .check5 {
        position: absolute;
        left: 10%;
        font-size: 0.9em;
        font-weight: bold;
        top: 56%;
    }
    .label5 {
        position: absolute;
        left: 16%;
        font-size: 0.9em;
        font-weight: bold;
        top: 54%;
    }
    .check6 {
        position: absolute;
        left: 10%;
        font-size: 0.9em;
        font-weight: bold;
        top: 61%;
    }
    .label6 {
        position: absolute;
        left: 16%;
        font-size: 0.9em;
        font-weight: bold;
        top: 59%;
    }
}
