page-jogos {
    ion-card {
        position: relative;
        top: -15%;
        margin-left:0 !important;
        margin-right:0 !important;
        margin-top:0 !important;
        width:100% !important;
        height: 70px;
      }
        
      .data {
        position: absolute;
        font-size: 0.7em;
        width: 100%;
        font-weight: bold;
        color: black;
        top: 10%;
      }

      .nomeDoMeuTime {
        position: absolute;
        left: 20%;
        top: 40%;
        font-size: 0.8em;
        width: 100%;
        font-weight: bold;
        color: black;
      }

      .meuescudo {
        position: absolute;
        left: 36%;
        top: 25%;
      }

      .minhaQuantidadeDeGols {
        position: absolute;
        left: 45%;
        top: 35%;
        font-size: 1.0em;
        font-weight: bold;
        color: black;
        background-color: rgb(235, 235, 235);
      }

      .escudoOponente {
        position: absolute;
        left: 58%;
        top: 25%;
      }

      .nomeDoOponente {
        position: absolute;
        left: 66%;
        top: 40%;
        font-size: 0.8em;
        width: 100%;
        font-weight: bold;
        color: black;
      }
}
