<ion-header>
  <ion-navbar color="vermelhoEscuro">
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notícias</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let noticia of noticias" col-12>
        <ion-card *ngIf="noticia.destaque == 'Sim'">
          <img src="{{noticia.url}}" style="width:350px;height:200px;" />
          <div class="card-title">{{noticia.nome}}</div>
          <div class="card-subtitle">{{ noticia.timestamp | date: 'dd.MM.yyyy'}}</div>
        </ion-card>
      </ion-col>
      <ion-col *ngFor="let noticia of noticias" col-5 >
        <ion-card *ngIf="noticia.destaque == 'Não'" class="col6">
            <img src="{{noticia.url}}" style="width:200px;height:70px;" />
          <ion-card-header>
            {{noticia.nome}}
          </ion-card-header>
          <ion-card-content class="fixline">
            {{noticia.descricao}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>