<ion-header>
  <ion-navbar color="vermelhoEscuro">
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notícias</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let noticia of noticias" col-12 (click)="detalhe(noticia)">
        <ion-card *ngIf="noticia.destaque == 'Sim'">
          <img src="{{noticia.url}}" style="height:200px;" />
          <div class="card-title">{{noticia.nome}}</div>
          <div class="card-subtitle" >{{ noticia.timestamp | date: 'MMMM  dd'}}</div>
        </ion-card>
      </ion-col>
      <ion-col *ngFor="let noticia of noticias" col-5 (click)="detalhe(noticia)">
        <ion-card *ngIf="noticia.destaque == 'Não'" class="col6">
            <img src="{{noticia.url}}" style="height:70px;" />
          <div class="fixline">{{noticia.nome}}</div>
          <div class="fixline2">{{ noticia.timestamp | date: 'MMMM  dd'}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>