page-chat-da-torcida {
    ion-content {
        background-image: url('../assets/imgs/fundo.png'); 
    }
    ion-input {
        background-color: transparent;
        border-radius: 20px 20px 20px 20px;
    }
}
