page-estatisticas {
       .artilheiros {
        position: relative;
        left: 0%;
        top: 0%;
        font-size: 1.0em;
        font-weight: bold;
        color: black;
        background-color: rgb(235, 235, 235);
       }

       .nome {
        position: absolute;
        top: 10%;
        left: 18%;
        font-size: 0.9em;
        width: 100%;
        font-weight: bold;
        color: rgb(77, 77, 77);
       }

       .posicao {
        position: absolute;
        top: 43%;
        left: 18%;
        font-size: 0.6em;
        width: 100%;
        font-weight: 100 ;
        color: black;
       }

       .gols {
        position: absolute;
        top: 18%;
        left: 92%;
        font-size: 0.9em;
        width: 100%;
        font-weight: bold; 
        color: rgb(77, 77, 77);
       }
   
       ion-card {
         position: relative;
         margin-left:0 !important;
         margin-right:0 !important;
         margin-top:0 !important;
         width:100% !important;
           img{
               width: 50px;
               height: 50px;
           }
       }
   
       .col6 {
         background-color: transparent;
       }
 
}
