page-videos {

       ion-card {
        position: relative;
        margin-left:0 !important;
        margin-right:0 !important;
        margin-top:0 !important;
        width:100% !important;
          img{
              width:100%;
          }
       }
         
       .card-title {
         left: 4%;
         font-size: 1.0em;
         width: 100%;
         font-weight: bold;
         color: black;
       }
    
}
