page-extrato-da-arrecadacao {
        .nome {
        position: absolute;
        top: 14%;
        left: 5%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color: rgb(77, 77, 77);
       }

       .pontos {
        position: absolute;
        top: 50%;
        left: 76%;
        font-size: 1.1em;
        width: 100%;
        font-weight: bold; 
        color: black;
       }
   
       ion-card {
         position: relative;
         margin-left:0 !important;
         margin-right:0 !important;
         width:100% !important;
         height: 70px;
       }

       ion-grid {
        position: absolute;
        top: 30%;
       }
   
       .col6 {
         background-color: transparent;
       }

       .data {
        position: absolute;
        top: 50%;
        left: 5%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color: black;
       }
       
       .balance {
        position: absolute;
        top: 10%;
        left: 32%;
        font-size: 2.0em; 
        font-weight: bold;
        color: white;
       }

       .total {
        position: absolute;
        left: 28%; 
        color: white;
       }
       .jecCap {
        position: absolute;
        left: 39%; 
        top: 8%;
        color: red;
       }

       .venha {
        position: absolute;
        left: 3%; 
        top: 25%;
        font-size: 1.1em;
        color: white;
       }
       .arrecadado {
        position: absolute;
        left: 30%; 
        top: 31%;
        font-size: 1.4em;
        font-weight: bolder;
        color: black;
       }

       .foto {
        position: absolute; 
        left: 0%;
        top:0%;
        height: 30%;
        width: 100%;
       }
}
