page-extrato-da-arrecadacao {
        .nome {
        position: absolute;
        top: 14%;
        left: 5%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color: rgb(77, 77, 77);
       }

       .pontos {
        position: absolute;
        top: 18%;
        left: 80%;
        font-size: 0.9em;
        width: 100%;
        font-weight: bold; 
        color: red;
       }
   
       ion-card {
         position: relative;
         margin-left:0 !important;
         margin-right:0 !important;
         width:100% !important;
         height: 70px;
       }

       ion-grid {
        position: absolute;
        top: 30%;
       }
   
       .col6 {
         background-color: transparent;
       }

       .data {
        position: absolute;
        top: 58%;
        left: 5%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color: rgb(77, 77, 77);
       }
       
       .balance {
        position: absolute;
        top: 08%;
        left: 32%;
        font-size: 2.0em; 
        font-weight: bold;
        color: white;
       }

       .foto {
        position: absolute; 
        left: 0%;
        top:0%;
        height: 30%;
        width: 100%;
       }
}
