page-extrato-de-pontos {
  .nome {
    position: absolute;
    top: 14%;
    left: 5%;
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color: rgb(77, 77, 77);
   }

   .pontos {
    position: absolute;
    top: 50%;
    left: 76%;
    font-size: 1.1em;
    width: 100%;
    font-weight: bold; 
    color: blue;
   }

   .pontosDebito {
    position: absolute;
    top: 50%;
    left: 76%;
    font-size: 1.1em;
    width: 100%;
    font-weight: bold; 
    color: red;
   }

   ion-card {
     position: relative;
     margin-left:0 !important;
     margin-right:0 !important;
     width:100% !important;
     height: 70px;
   }

   ion-grid {
    position: absolute;
    top: 30%;
   }

   .col6 {
     background-color: transparent;
   }

   .data {
    position: absolute;
    top: 70%;
    left: 5%;
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color: black;
   }

   .cardCredito {
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 1.1em;
    width: 100%;
    font-weight: bold;
    color: black;
   }
   
   .cardDebito {
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 1.1em;
    width: 100%;
    font-weight: bold;
    color: black;
   }
   
   .balance {
    position: absolute;
    top: 8%;
    left: 27%;
    font-size: 2.0em; 
    font-weight: bold;
    color: white;
   }

   .total {
    position: absolute;
    left: 39%;
    top: 3%;
    font-size: 2.0em; 
    font-weight: bolder;
    color: white;
   }
   .totalCreditos {
    position: absolute;
    left: 4%;
    top: 20%;
    font-size: 1.2em; 
    font-weight: bolder;
    color: blue;
   }
   .totalDebitos {
    position: absolute;
    right: 4%;
    top: 20%;
    font-size: 1.2em; 
    font-weight: bolder;
    color: red;
   }
   .creditos {
    position: absolute;
    left: 4%;
    top: 24%;
    font-size: 1.2em; 
    font-weight: bolder;
    color: blue;
   }
   .debitos {
    position: absolute;
    right: 4%;
    top: 24%;
    font-size: 1.2em; 
    font-weight: bolder;
    color: red;
   }
   
   .foto {
    position: absolute; 
    left: 0%;
    top:0%;
    height: 20%;
    width: 100%;
   }
}
