page-detalhe-noticia {

    .barra {
        position: absolute;
        top: 63.5%;
        left: 4%;
    }
    .img {
        width: 100%;
    }
    .logo {
        position: absolute;
        top: 36.5%;
        left: 4.5%;
    }
    .nome{
        position: absolute;
        top: 37%;
        left: 14%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color: black;
    }
    .fixline {
        position: absolute;
        top: 46%;
        left: 14%;
        height: 60px;
        font-size: 2.0em;
        width: 80%;
        font-weight: bold;
        color: black;
    }
   .fixline3 {
        position: absolute;
        top: 78%;
        left: 14%;
        height: 60px;
        font-size: 1.0em;
        width: 78%;
        color: black;
    }
    .fixline2 {
        font-size: 0.8em;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 16%;
        width: 100%;
        color: rgb(83, 83, 83);
      } 
}
