page-seja-socio {
    .img {
        width: 100%;
        height: 30%;
    }
    .img2 {
        position: absolute;
        top: 30%;
        width: 100%;
        height: 20%;
    }
    .img3 {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 50%;
    }
}
